/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 12px;
  font-weight: bold;
}

@layer base {
  :root {
    --primary-color: #d500f9;
  }
  body::-webkit-scrollbar {
    width: 9px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #ff9800;
    border-radius: 8px;
    outline: 1px solid slategrey;
  }
}

@layer components {
  .container {
    max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .bg-gradient {
    background-color: transparent !important;
    background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4) 90%) !important;
    background: -webkit-linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4) 90%);
    background: -moz-linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.4) 90%);
  }
  .no-scroll {
    overflow: hidden;
  }
}
